.card-kartu {
	width: 9cm;
	height: 6cm;
}


.div-logo {
	border-right: 3px solid #ababab;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
	border: none;
}
.th-judul {
	min-width: 110px;
}

.table_anggota {
	width: 100%;
	table-layout: fixed;
	border-spacing: 20px;
}
td {
	word-wrap: break-word;
}

